funcoes/__pycache__/funcoes_mysql.cpython-313.pyc
Locadora/config.py
projetoOuvidoria/config.py
__pycache__/funcoes_mysql.cpython-313.pyc
projetoOuvidoria/__pycache__/config.cpython-313.pyc
projetoOuvidoria/__pycache__/funcoes_ouvidoria.cpython-313.pyc
